html{
    display:inline-block;
    background-image: url("profile2.jpg");
    background-position-x: auto;
    background-position-y: auto;
    background-repeat: no-repeat;
}
body {
    height: 100%;
    display: inline;
    font-size: xx-large;
    color: aqua;
    padding: 15%;
    text-align: center;
    position: absolute;
    margin-top: 0%;
    margin-left: 0%;
}
.nav {
    position: absolute;
    color: red;
    margin-top: 0%;
    margin-left: 50%;
}
div .container{
    display: inline;
    border: 2px;
    border-color: aqua;
    width: 100px;
    height: 100px;
    padding: 0px;
       
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    height: 7%;
    text-align: center;
    color: white;
    text-align: center;
 }
